<div class="grid-container ">
  <br /><br /><br />
  <div class="options-header" *ngIf="options.draggable" style="padding:10px ; ">
    <button
      mat-mini-fab
      (click)="addItem()"
      class="add-button cols-2"
      style="margin-right: 10px;"
    >
      <mat-icon>add</mat-icon>
    </button>

    <!-- <button
      mat-mini-fab
      (click)="removeItem($event)"
      style="margin-right: 10px;"
    >
      <mat-icon>show_chart</mat-icon>
    </button> -->

    <button
      mat-mini-fab
      (click)="removeItem($event, item)"
      style="margin-right: 10px;"
    >
      <mat-icon>save_alt</mat-icon>
    </button>
    <!-- 
    <button mat-mini-fab (click)="reload()" style="margin-right: 10px;">
      <mat-icon>refresh</mat-icon>
    </button> -->

    <mat-checkbox
      [(ngModel)]="options.draggable.enabled"
      (ngModelChange)="changedOptions()"
      style="float:right; margin-right:5px"
    >
      Drag Items
    </mat-checkbox>
    <mat-checkbox
      [(ngModel)]="options.enableEmptyCellClick"
      (ngModelChange)="changedOptions()"
      style="float:right; margin-right:5px"
    >
      Enable click to add
    </mat-checkbox>
  </div>

  <gridster [options]="options">
    <div style="height:100vh">
      <div>
        <gridster-item [item]="item" *ngFor="let item of dashboard">
          <div class="button-holder" *ngIf="!item.hasContent">
            <!-- *ngIf="userIsAuthenticated && userId == item.author" -->

            <button
              *ngIf="userIsAuthenticated && userId == item.author"
              mat-mini-fab
              (click)="update(item.id)"
            >
              <mat-icon>create</mat-icon>
            </button>
            <button
              *ngIf="userIsAuthenticated && userId == item.author"
              mat-mini-fab
              (click)="deleteChart(item, item.id)"
            >
              <mat-icon>delete_forever</mat-icon>
            </button>
          </div>
          <div class="dashboard-card">
            <div
              class="dashboard-card-content"
              (click)="$event.stopPropagation() && $event.preventDefault()"
            >
              <canvas
                baseChart
                [data]="item.data"
                [labels]="item.label"
                [chartType]="item.chart"
              ></canvas>
            </div>
          </div>
        </gridster-item>
      </div>
    </div>
  </gridster>
</div>
