<header id="banner" class="scrollto clearfix" data-enllax-ratio=".5">
<!--Banner Content-->
    <div id="banner-content" class="row clearfix">

        <div class="col-38" style="padding-left:50px;">

            <div class="section-heading" >
                <h1>A journey to technology</h1>
                <h2>The first two steps of the software engineering include “what?” and “how?”.  When we develop the software we try to be as close as possible to the client so that both questions are answered prominently.</h2>
            </div>

            <a href="/about"  class="button video link-lightbox">About Us<i class="fa fa" aria-hidden="true"></i></a>
                      <!--End Call to Action-->
        </div>


    </div><!--End of Row-->


</header>
