<section id="about" class="introduction scrollto" style="padding-left:50px;">

            <div class="row clearfix">

                <div class="col-3">
                    <div class="section-heading">
                        <h3>SUCCESS</h3>
                        <h2 class="section-title">We Help You To Create Your Vision</h2>
                        <p class="section-subtitle">Our blog is opened to dedicate his specialized team for: Consulting, Outsourcing.
                          We can offer software solutions with respect to customer needs.</p>
                          <p class="section-subtitle">
                            Any question you have posted will receive an email response from our team.
                          </p>
                    </div>


                </div>
                <div style="padding-left:70px;">
                  <ngbd-carousel-basic></ngbd-carousel-basic>

                </div>
                <div class="col-6-2">

                    <!--Icon Block-->
                    <div class="col-3 icon-block icon-top wow fadeInUp" data-wow-delay="0.1s" >
                        <!--Icon-->
                        <div class="icon">
                            <i class="fa fa-html5 fa-2x"></i>
                        </div>
                        <!--Icon Block Description-->
                        <div class="icon-block-description">
                            <h4>HTML5 &amp; CSS3</h4>
                            <p>HTML5 comes with a pile of new APIs such as Drag and Drop, Fullscreen,
                            Visibility, and Media Capture that increase its capabilities and improve the user experience.</p>
                        </div>
                    </div>
                    <!--End of Icon Block-->

                    <!--Icon Block-->
                    <div class="col-3 icon-block icon-top wow fadeInUp" data-wow-delay="0.3s" >
                        <!--Icon-->
                        <div class="icon">
                            <i class="fa fa-bolt fa-2x"></i>
                        </div>
                        <!--Icon Block Description-->
                        <div class="icon-block-description">
                            <h4>Easy to Use</h4>
                            <p>If you want to design and code the frontend of web apps or emails,
                               you need to use HTML and CSS. HTML structures a website and also contains data for the website's content,
                              and CSS polishes things up with style to make them better looking.</p>
                        </div>
                    </div>
                    <!--End of Icon Block-->

                    <!--Icon Block-->
                    <div class="col-3 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s" >
                        <!--Icon-->
                        <div class="icon">
                            <i class="fa fa-tablet fa-2x"></i>
                        </div>
                        <!--Icon Block Description-->
                        <div class="icon-block-description">
                            <h4>Fully Responsive</h4>
                            <p>One web design trend that refuses to go away is parallax scrolling. With this, the website layout sees the background
                               of the web page moving at a slower rate to the foreground, creating a 3D effect.</p>
                        </div>
                    </div>
                    <!--End of Icon Block-->

                    <!--Icon Block-->
                    <div class="col-3 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s" >
                        <!--Icon-->
                        <div class="icon">
                            <i class="fa fa-rocket fa-2x"></i>
                        </div>
                        <!--Icon Block Description-->
                        <div class="icon-block-description">
                            <h4>Parallax Effect</h4>
                            <p>Responsive websites are the future! They allow your site to adapt to different
                               screen sizes which means that whatever device your web visitors are using they get the best possible
                               view of your business or service. This Artwebco website itself is responsive, so if you view us on a mobile, tablet
                               desktop you will see how the layout changes to make the best of the available screen size.</p>
                        </div>
                    </div>
                    <!--End of Icon Block-->

                </div>

            </div>


        </section>
        <!--End of Introduction-->
